/*!

Theme Name: Washare

Description: Washare Site Landing

Version: 1.0.2019

Text Domain: washare

*/


/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
 *
 * 1.0 - Normalize
 *   1.1 - Basic Elements
 *   1.2 - Grid System
 *   1.3 - Helpers
 *   1.4 - Animations
 *   1.5 - Buttons
 * 2.0 - Header
 *   2.1 -  sticky menu
 * 3.0 - Footer
 *   3.1 - Back to top
 *   4.1 - Promo Section
 * 4.0 - Home Page
 *   4.2 - Partners Section
 *   4.3 - Tool Description Section
 *   4.4 - Tasks Section
 * 5.0 - Leaderboard Page
 * 6.0 - FAQs Page
 *
 */

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
/* normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
	 ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
	 ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
    margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
    background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
    border-bottom: none; /* 1 */
    text-decoration: underline; /* 2 */
    text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
    font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
    font-family: monospace, monospace; /* 1 */
    font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
    border-style: none;
}

/* Forms
	 ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
    padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */

legend {
    box-sizing: border-box; /* 1 */
    color: inherit; /* 2 */
    display: table; /* 1 */
    max-width: 100%; /* 1 */
    padding: 0; /* 3 */
    white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
    vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
    overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
    -webkit-appearance: button; /* 1 */
    font: inherit; /* 2 */
}

/* Interactive
	 ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
    display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
    display: list-item;
}

/* Misc
	 ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
    display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
    display: none;
}

/* 1.1 - Basic Elements */
:root {
    font-size: 18px;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;

    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;

    text-align: left;

    color: #fff;
    background-color: #222f3e;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}

[tabindex="-1"]:focus:not(:focus-visible) {
    outline: 0 !important;
}

hr {
    overflow: visible;

    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
    cursor: help;
    text-decoration: underline;
    text-decoration: underline dotted;

    border-bottom: 0;

    -webkit-text-decoration: underline dotted;
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 1rem;

    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: 700;
}

dd {
    margin-bottom: 0.5rem;
    margin-left: 0;
}

blockquote {
    margin: 0 0 1rem;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

sub,
sup {
    position: relative;

    vertical-align: baseline;

    font-size: 75%;
    line-height: 0;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

iframe {
    border: none;
}

a {
    text-decoration: none;

    color: #007bff;
    background-color: transparent;
}

a:hover {
    text-decoration: underline;

    color: #0056b3;
}

a:not([href]):not([tabindex]) {
    text-decoration: none;

    color: inherit;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    text-decoration: none;

    color: inherit;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

pre,
code,
kbd,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    font-size: 1em;
}

pre {
    overflow: auto;

    margin-top: 0;
    margin-bottom: 1rem;
}

figure {
    margin: 0 0 1rem;
}

img {
    max-width: 100%;

    vertical-align: middle;

    border-style: none;
}

svg {
    overflow: hidden;

    vertical-align: middle;
}

table {
    border-collapse: collapse;
}

caption {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;

    caption-side: bottom;

    text-align: left;

    color: #6c757d;
}

th {
    text-align: inherit;
}

label {
    display: inline-block;

    margin-bottom: 0.5rem;
}

button {
    -webkit-border-radius: 0;
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
    margin: 0;

    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
input {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

select {
    word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
    cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    padding: 0;

    border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
    -webkit-appearance: listbox;
}

textarea {
    overflow: auto;

    max-height: 120px;

    resize: none;
}

fieldset {
    min-width: 0;
    margin: 0;
    padding: 0;

    border: 0;
}

legend {
    display: block;

    width: 100%;
    max-width: 100%;
    margin-bottom: 0.5rem;
    padding: 0;

    white-space: normal;

    color: inherit;

    font-size: 1.5rem;
    line-height: inherit;
}

progress {
    vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    outline-offset: -2px;

    -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

::-webkit-file-upload-button {
    font: inherit;

    -webkit-appearance: button;
}

output {
    display: inline-block;
}

summary {
    display: list-item;

    cursor: pointer;
}

template {
    display: none;
}

[hidden] {
    display: none !important;
}

[type=color],
[type=date],
[type=datetime],
[type=datetime-local],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=url],
[type=week],
[type=time],
select,
textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    padding: 12px 30px;

    border: 1px solid #e6e6e6;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.1);
}

[type=color]:focus,
[type=date]:focus,
[type=datetime]:focus,
[type=datetime-local]:focus,
[type=email]:focus,
[type=month]:focus,
[type=number]:focus,
[type=password]:focus,
[type=search]:focus,
[type=tel]:focus,
[type=text]:focus,
[type=url]:focus,
[type=week]:focus,
[type=time]:focus,
select:focus,
textarea:focus,
[type=color]:active,
[type=date]:active,
[type=datetime]:active,
[type=datetime-local]:active,
[type=email]:active,
[type=month]:active,
[type=number]:active,
[type=password]:active,
[type=search]:active,
[type=tel]:active,
[type=text]:active,
[type=url]:active,
[type=week]:active,
[type=time]:active,
select:active,
textarea:active {
    border: 2px solid #9cc641;
    outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-bottom: 0.5rem;

    font-weight: 500;
    line-height: 1.2;
}

h1,
.h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: 2px;


    margin-bottom: 20px;
}

h2,
.h2 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 40px;
}

h3,
.h3 {
    font-size: 1.75rem;
}

h4,
.h4 {
    font-size: 1.5rem;
}

h5,
.h5 {
    font-size: 1.25rem;
}

h6,
.h6 {
    font-size: 1rem;
}

.main-title {
    margin: 0;
    margin-bottom: 30px;

    font-size: 44px;
    font-weight: 700;
    line-height: 1.4;
}

.sub-title {
    position: relative;

    margin: 0;
    margin-bottom: 30px;

    letter-spacing: 0.5px;
    text-transform: uppercase;

    font-size: 13px;
    font-weight: 700;
    line-height: 1.4;
}

.section-text {
    margin-botom: 20px;

    letter-spacing: 0.5px;

    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
}

.divider {
    position: relative;

    display: block;

    height: 20px;
}

.divider::after {
    position: absolute;
    top: 0;

    display: block;

    width: 100px;
    height: 4px;

    content: "";

    background: #ef0d33;
}

.divider.divider--left::after {
    left: 0;
}

.divider.divider--center::after {
    left: 50%;

    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}


@media(max-width: 1200px) {
    .main-title {
        font-size: 38px;
    }
}

@media(max-width: 992px) {
    .main-title > br {
        display: none;
    }
}

@media(max-width: 580px) {
    .main-title {
        margin-bottom: 30px;

        text-align: center;

        font-size: 32px;
        line-height: 1.5;
    }
    .sub-title {
        margin-bottom: 20px;
    }
}

@media(max-width: 992px) {
    .main-title {
        margin-bottom: 20px;
    }
}

.content-area {
    position: relative;
}

.dark-context,
.dark-context p,
.dark-context h1,
.dark-context .h1,
.dark-context h2,
.dark-context .h2,
.dark-context h3,
.dark-context .h3,
.dark-context h4,
.dark-context .h4,
.dark-context h5,
.dark-context .h5,
.dark-context h6,
.dark-context .h6
.dark-context .section-title,
.dark-context .sub-title,
.dark-context .main-title {
    color: #fff;
}


/* 1.2 - Grid System */
.container {
    position: relative;

    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.container-fluid {
    position: relative;

    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 320px) {
    .row {
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 769px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}


.section {
    padding: 30px 0 70px;
}

@media (max-width: 992px) {
    .section {
        padding: 30px 0 50px;
    }
}


/* 1.3 - Helpers */
.sr-only {
    position: absolute;

    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    width: 1px;
    height: 1px;
    padding: 0;

    white-space: nowrap;

    border: 0;
}

.image-box {
    position: relative;

    display: inline-block;
    overflow: hidden;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    min-width: 30px;
    max-width: 100%;
    height: auto;
    min-height: 30px;

    vertical-align: top;

    font-size: 0;
}

.image-box--rounded {
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.image-box img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;

    -o-object-fit: cover;
    object-fit: cover;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

.show-flex {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display:         flex!important;
}

.accent-color {
    color: #9cc641!important;
}

.white-color {
    color: #fff;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left!important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

/*1.4 - Animatioms*/
.fade {
    -webkit-animation: fade linear 0.4s;
    animation: fade linear 0.4s;
}

@-webkit-keyframes fade {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;

    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

/* 1.5 - Buttons */
.btn {
    position: relative;
    display: inline-block;

    padding: 0.375rem 0.75rem;

    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    text-align: center;
    vertical-align: middle;

    color: #fff;
    border: 1px solid transparent;
    -webkit-border-radius: 0.25rem;
    border-radius: 0.25rem;
    background-color: transparent;

    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.btn:hover {
    text-decoration: none;

    opacity: 0.8;
}

.btn:focus,
.btn.focus,
.comment-service .form-submit .submit:focus {
    outline: 0;
}

.btn.disabled,
.btn:disabled {
    opacity: 0.65;
}

a.btn.disabled,
fieldset:disabled a.btn {
    pointer-events: none;
}

.btn.btn--primary {
    height: 54px;
    padding: 0 40px;

    border-radius: 0;

    text-transform: uppercase;

    color: #fff;
    border-color: #ed7d31;
    background-color: #ed7d31;

    font-size: 14px;
    font-weight: 700;
    line-height: 50px;

    -webkit-box-shadow: 8px 8px 0px 0px #fff;
    -moz-box-shadow: 8px 8px 0px 0px #fff;
    box-shadow: 8px 8px 0px 0px #fff;
}



.btn.btn--primary:hover,
.comment-service .form-submit .submit:hover {
    opacity: 0.9;
    color: #fff;
}

.btn--primary:focus,
.btn.btn--primary.focus,
.comment-service .form-submit .submit:focus {
    opacity: 0.9;
    color: #fff;
}

.btn.btn--outlined {
    height: 60px;
    padding: 0;

    text-transform: uppercase;

    color: #333;
    border: 2px solid transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    background-color: transparent;

    font-size: 16px;
    font-weight: 700;
    line-height: 55px;
}

.dark-context .btn.btn--outlined {
    color: #fff;
    border-color: #fff;
}

.btn.btn--icon-left {
    position: relative;

    padding-right: 30px;
    padding-left: 65px;
}

.btn.btn--icon-left::before {
    position: absolute;
    top: 50%;
    left: 30px;

    display: block;

    width: 25px;
    height: 25px;
    margin-top: -13px;

    content: "";

    background: url("img/icon-checked.svg") 50% 50% no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.btn.btn--submit {
    padding: 0 60px;
}

/* @media Button */
@media(max-width: 992px) {
    .page-banner .btn.btn--outlined {
        margin-right: 7px;

        font-size: 13px;
    }
    .btn.btn--icon-left {
        padding-right: 15px;
        padding-left: 40px;
    }
    .btn.btn--icon-left::before {
        left: 8px;
    }
}

/* --- / --- */


/*======
*
* 2.0 - Header
*
======*/
.site-header {
    background: #38577b;
}
.site-branding__logo {
    padding-top: 5px;
    padding-left: 40px;

    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
}
.site-header > .container > .row {
    justify-content: space-between;
}
.menu-toggle {
    position: absolute;
    top: 5px;
    right: 27px;
    width: 36px;
    height: 26px;
    cursor: pointer;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparent;
    font-size: 0;
    outline: none !important;
    box-shadow: none !important;

    appearance: none;
    -webkit-appearance: none;
    display: none;
}

.menu-toggle span {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    opacity: 1;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background: #fff;
}

.menu-toggle span:nth-child(1) {
    top: 0;
}
.menu-toggle span:nth-child(2),
.menu-toggle span:nth-child(3) {
    top: 10px;
}
.menu-toggle span:nth-child(4) {
    top: 20px;
}

.menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    margin: 0 !important;
    padding: 0 !important;
    list-style-type: none!important;
}

.menu .menu__item > a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 9px 9px 7px;

    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1px;

    color: #fff;
    text-decoration: none;
}

.menu .menu__item > a:hover,
.menu .menu__item > a:active {
    color: #ed7d31;
}

.menu .menu__item.menu__item--active > a {
    color: #ed7d31;
    cursor: default;
}

.menu .menu__item.menu__item--active > a > span {
    position: relative;
}

.menu .menu__item.menu__item--active > a > span:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;

    display: block;
    width: 100%;
    height: 9px;

    background: #ed7d31;
}
/* --- / --- */

/*======
*
* 3.0 - Footer
*
======*/

/* --- / --- */

/*======
*
* 4.0 - Home Page
*
======*/

/* 4.1 - Promo Section */
.promo {
    padding: 75px 0 65px;
    background: url('img/bg-promo.jpg') 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.promo__inner {
    padding: 0 10%;
}

.promo__inner .section-text {
    line-height: 22px;

    padding-right: 32%;
    margin-bottom: 30px;
}

/* 4.2 - Partners Section */
.partners {
    padding: 30px 0;
    background: #fff;
}

.partners > .container > .row {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.partners__image img {
    max-height: 95px;
}

/* 4.3 - Tool Description Section */
.tool-description > .container > .row {
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0 40px;
}
.tool-description__heading {
    box-sizing: border-box;
    width: 35%;
    padding-right: 50px;
}
.tool-description__text {
    width: 65%;
}
.tool-description__heading h2 {
    padding-top: 12px;
}
.tool-description__text .section-text {
    font-size: 14px;
    line-height: 22px;
}

/* 4.4 - Tasks Section */
.tasks {
    padding: 65px 0 130px;
    background: #38577b;
}

.tasks > .container > .row {
    flex-direction: column;
    padding: 0 40px;
}

.tasks h2 {
    /*font-family: 'Manjari', sans-serif;*/
    font-weight: 400;

    margin-bottom: 30px;
}

.tasks-table {
    background: #fff;
    padding: 10px;
}

.tasks-table .tasks-table__header {
    display: flex;
    flex-flow: row nowrap;
    padding: 10px 15px;
    background: #1b222f;
    color: #fff;
    margin-bottom: 5px;
}
.cell {
    font-size: 16px;
    font-weight: 700;
}
.cell.cell--name {
    width: 70%;
}
.cell.cell--download,
.cell.cell--info,
.cell.cell--metric {
    width: 10%;
    text-align: center;
}
.tasks-table .tasks-table__row {
    display: flex;
    flex-flow: row nowrap;
}
.tasks-table .tasks-table__row:nth-of-type(2) {
    border-bottom: 2px solid #fff;
    background: #bfbfbf;
    color: #000;
}
.tasks-table .tasks-table__row:nth-of-type(3) {
    margin-bottom: -22px;

    border-bottom: 2px solid #fff;
    background: #e1e1e1;
    color: #000;
}
.tasks-table .tasks-table__row .cell--name,
.tasks-table .tasks-table__row .cell--download,
.tasks-table .tasks-table__row .cell--info {
    /*position: relative;*/
    border-right: 2px solid #fff;
}
.tasks-table .tasks-table__row .cell > span {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 3px;
}
.tasks-table .tasks-table__row .cell--download > span >  a > img,
.tasks-table .tasks-table__row .cell--info > span > a > img {
    width: 25px;
    height: auto;
}


@media(max-width: 992px) {
    .site-header {
        position: absolute;
        z-index: 30;
        box-sizing: border-box;
        width: 100%;
        min-height: 35px;
    }
    .site-header .container {
        width: 100%;
        max-width: 100%;
    }
    .main-navigation ul {
        display: none;
    }
    .menu-toggle,
    .main-navigation.toggled ul {
        display: block;
    }
    .site-branding__logo {
        position: absolute;
        z-index: 9999999;
        padding-bottom: 5px;
    }
    .main-navigation.toggled .menu__item {
        text-align: center;
    }
    .main-navigation.toggled {
        position: absolute;
        left: 0;
        z-index: 999999;
        width: 100%;
        min-height: 400px;
        padding: 95px 0 45px;
        background-color: #222f3e;
    }
    .main-navigation.toggled .menu-toggle span:nth-child(1) {
        top: 18px;
        left: 50%;
        width: 0;
    }
    .main-navigation.toggled .menu-toggle span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .main-navigation.toggled .menu-toggle span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .menu-toggle span:nth-child(2),
    .menu-toggle span:nth-child(3) {
        top: 10px;
    }
    .main-navigation.toggled .menu-toggle span:nth-child(4) {
        top: 18px;
        left: 50%;
        width: 0;
    }
    .promo__inner {
        padding: 0 5%;
    }
    .tasks h2 {
        text-align: center;
    }
    .tasks > .container > .row {
        padding: 0;
    }
}

@media(max-width: 768px) {
    .promo__inner {
        padding: 0;
        text-align: center;
    }
    .promo__inner .section-text {
        padding: 0 10%;
    }
    .partners .partners__image {
        width: 50%;
        margin-bottom: 20px;
        text-align: center;
    }
    .partners {
        padding-bottom: 0;
    }
    .tool-description > .container > .row {
        flex-direction: column;
    }
    .tool-description__heading {
        width: 100%;
        padding: 0;

        text-align: center;
        margin-bottom: 20px;
    }
    .tool-description__text {
        width: 100%;
        text-align: center;
    }
    .tasks-table {
        overflow: hidden;
        overflow-x: scroll;
        height: fit-content;
        width: 100%;
        max-width: 100%;
        padding-bottom: 30px;
    }
    .tasks-table__header,
    .tasks-table__row {
        width: 698px;
    }

}

@media(max-width: 576px) {
    .partners .partners__image {
        width: 100%;
    }
    .partners .partners__image:first-of-type {
        margin-bottom: 40px;
    }
    .tool-description > .container > .row {
        padding: 0;
    }
    .promo__inner .section-text {
        padding: 0 5%;
    }
}

@media(max-width: 480px) {
    h1, .h1 {
        font-size: 36px;
    }
    h2, .h2 {
        font-size: 30px;
    }
    .site-branding__logo {
        padding-left: 0;
        left: 5px;
    }
    .menu-toggle {
        right: 17px;
    }
}
/* --- / --- */


/*======
*
* 5.0 - Leaderboard Page
*
======*/
.main-heading {
    background: #38577b;
}
.main-heading > .container > .row {
    padding: 50px 30px 30px;
}
.rating {
    padding: 60px 20px 150px;
    background: #222f3e;
}

.rating-table {
    width: 100%;
}
.rating-table__header,
.rating-table__row {
    display: flex;
    flex-flow: row nowrap;
}
.rating-table__header {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;

    text-transform: uppercase;
}
.rating-table .cell.cell--rank {
    width: 10%;
}
.rating-table .cell.cell--name {
    width: 25%;
}
.rating-table .cell.cell--model {
    width: 15%;
}
.rating-table .cell.cell--url {
    width: 40%;
}
.rating-table .cell.cell--score {
    width: 10%;
}
.rating-table__header .cell {
    padding: 20px 25px;
}
.rating-table .rating-table__row {
    margin-bottom: 2px;
}
.rating-table .rating-table__row {
    background: #e6e6e6;
    color: #000;
}
.rating-table .rating-table__row a {
    color: currentColor;
}
.rating-table .rating-table__row:nth-of-type(2) {
    background: #ed7d31;
    color: #fff;
}
.rating-table .rating-table__row:nth-of-type(3) {
    background: #f4b183;
    color: #fff;
}
.rating-table .rating-table__row:nth-of-type(2) a,
.rating-table .rating-table__row:nth-of-type(3) a {
    color: currentColor;
}

.rating-table .rating-table__row:nth-of-type(4) {
    background: #f8cbad;
}

.rating-table__row .cell,
.rating-table__row .cell a {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 400;
}
.rating-table__row .cell.cell--rank,
.rating-table__row .cell.cell--score {
    padding: 15px 40px;

    font-weight: 700;
}
.rating-table__row .cell.cell--name,
.rating-table__row .cell.cell--model,
.rating-table__row .cell.cell--url {
    padding: 15px 25px;
}
.rating-table__row .cell.cell--score {
    text-align: right;
}

@media(max-width: 992px) {
    .main-heading > .container > .row {
        padding: 70px 30px 10px
    }
    .rating {
        padding-left: 0;
        padding-right: 0;
    }
    .rating-table {
        overflow: hidden;
        overflow-x: scroll;
        height: fit-content;
        width: 100%;
        max-width: 100%;
    }
    .rating-table__header,
    .rating-table__row {
        width: 930px;
    }

}

@media(max-width: 576px) {
    .rating {
        padding: 30px 0 100px;
    }
    .site-branding__logo {
        font-size: 14px;
    }
}

/* --- / --- */


/*======
*
* 6.0 - FAQs Page
*
======*/
.faq {
    background: #fff;
    color: #222f3e;
}
.faq-section__content {
    box-sizing: border-box;
    width: 100%;
    padding: 40px 140px 140px 35px;
    padding-right: 23%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.faq-section__content > p > span {
    display: inline-block;
    vertical-align: top;
    width: 100%;
}

@media(max-width: 576px) {
    .faq-section__content {
        padding-right: 5%;
    }
}